
        body{
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }

        #gameStatus {
            font-size: 20px;
            margin-top: 20px;
        }